.password-generator-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .password-generator-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .password-generator-container .form-group {
    margin-bottom: 15px;
  }
  
  .password-generator-container label {
    display: block;
    font-weight: bold;
  }
  
  .password-generator-container input[type="number"],
  .password-generator-container input[type="checkbox"] {
    margin-left: 10px;
  }
  
  .password-generator-container button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
  }
  
  .password-generator-container button:hover {
    background-color: #b30000;
  }
  
  .password-generator-container .generated-password {
    width: 95%;
    padding: 10px;
    margin-top: 15px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  